@import './common';
@import './example';

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin-top: 50px;
}

.card-img {
    width: 200px;
}

.search-form {
    margin-left: 40%;
    margin-top: 30px;
}

.is-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.load-more {
    margin-left: 45%;
    margin-top: 20px;
}